body{
	font-size: 16px;
	color: #;
	background-color: #66ffff;
	font-family: 'Oxygen', sand-serif;
}

/* header */
#header-nav{
	background-color: #ff9933;
	border-radius: 0;
	border: 0;
}

.navbar-brand a:hover,.navbar-brand a:focus{
	text-decoration: none;
}

.navbar-brand {
	font-size: 30px;
}

#menu-title {
	padding: 20px 0px;
	padding-bottom: 30px;
}

#menu-category-1, #menu-category-2, #menu-category-3 {
	background-color: #ff6666;
	padding: 10px 15px;
	margin-bottom: 10px;

}

p {
	font-size: 0.9em;
}

#menu-category-1 div, #menu-category-2 div, #menu-category-3 div {
	text-align: center;
	margin-bottom: 5px;
	font-size: 25px;
	font-weight: bold;
}

#nav-list a:hover, #nav-list a:focus {
	text-decoration: none;
}

#nav-list a div:hover, #nav-list a div:focus {
	
	background-color: red;
	padding: 2px;
}

#nav-list div {
	line-height: 2;
	text-align: center;
	color: white;
	font-size: 1.2em;
	margin-right: 40px;
}